@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeUpIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.7s ease-in-out;
}

.animate-fadeSlide {
  animation: fadeSlide 0.7s ease-in-out;
}

.animate-slideIn {
  animation: slideIn 0.6s ease-out;
}

.animate-fadeUpIn {
  animation: fadeUpIn 0.8s ease-out forwards;
}

.animation-delay-300 {
  animation-delay: 300ms;
}

.animation-delay-600 {
  animation-delay: 600ms;
}

.slick-prev:before,
.slick-next:before {
  color: #2563eb !important;
}

.slick-slider {
  margin-bottom: 0;
}

/* Hide scrollbar by default */
.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

/* Handle on hover */
.scrollbar-thin:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Firefox scrollbar styling */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}
